<div class="dropdown">
    <a class="nav-link" href="#" data-bs-toggle="dropdown">
        Language
    </a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Language" asp-action="SetCulture" asp-route-culture="en-US" class="dropdown-item">
                English
            </a>
        </li>
        <li>
            <a asp-controller="Language" asp-action="SetCulture" asp-route-culture="pl-PL" class="dropdown-item">
                Polish
            </a>
        </li>
    </ul>

</div>